<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/admin/authorManage.css}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">

    </script>
</head>
<body>
<div class="wrapper">
    <div class="wrap">
        <!-- gnv_area -->
        <th:block th:replace="admin/fragments/header :: adminHeader"></th:block>

        <div class="admin_content_wrap">
            <div class="admin_content_subject"><span>작가 관리</span></div>
            <div class="author_table_wrap">
                <th:block th:if="${listCheck != 'empty'}">
                <table class="author_table">
                    <thead>
                    <tr>
                        <td class="th_column_1">작가 번호</td>
                        <td class="th_column_2">작가 이름</td>
                        <td class="th_column_3">작가 국가</td>
                        <td class="th_column_4">등록 날짜</td>
                        <td class="th_column_5">수정 날짜</td>
                    </tr>
                    </thead>
                        <tr th:each="author : ${list}">
                            <td th:text="${author.authorId}">authorId</td>
                            <td>
                                <a th:text="${author.authorName}" th:href="@{/admin/authorDetail( authorId = ${author.authorId} )}">authorName</a>
                            </td>
                            <td th:text="${author.nationName}">nationName</td>
                            <td th:text="${#dates.format(author.regDate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(author.updateDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                </table>
                </th:block>

                <th:block th:unless="${listCheck !='empty'}">
                    <div class="table_empty">
                        등록된 작가가 없습니다.
                    </div>
                </th:block>

            </div>

            <!-- 검색 영역 -->
            <div class="search_wrap">
                <form id="searchForm" action="/admin/authorManage" method="get">
                    <div class="search_input">
                        <input id="searchForm_input_pageNum" type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
                        <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
                        <input type="hidden" name="type" th:value="${pageMaker.cri.type}">
                        <input id="searchForm_input_keyword" type="text" name="keyword" th:value="${pageMaker.cri.keyword}">
                        <button class="btn search_btn" id="searchBtn" th:onclick="searchFunc()">검 색</button>
                    </div>
                </form>
            </div>

            <!-- 페이지 이동 인터페이스 영역 -->
            <div class="pageMaker_wrap" >

                <ul class="pageMaker">

                    <!-- 이전 버튼 -->
                    <th:block th:if="${pageMaker.prev}">
                        <li class="pageMaker_btn prev">
                            <a href="javascript:void(0)" th:onclick="movePage([[ ${#request.requestURI} ]], [[ ${pageMaker.cri.makeQueryString(pageMaker.pageStart - 1)} ]])">이전</a>
                        </li>
                    </th:block>

                    <!-- 페이지 번호 -->
                    <th:block th:with="pageMaker = ${pageMaker}">
                        <th:block th:each="num : *{#numbers.sequence(pageMaker.pageStart, pageMaker.pageEnd)}">
                            <li class="pageMaker_btn" th:classappend="${pageMaker.cri.pageNum == num} ? 'active' : ''">
                                <a href="javascript:void(0)" th:text="${num}" th:onclick="movePage( [[ ${#request.requestURI} ]] , [[ ${pageMaker.cri.makeQueryString(num)} ]])"></a>
                            </li>
                        </th:block>
                    </th:block>


                    <!-- 다음 버튼 -->
                    <th:block th:if="${pageMaker.next}">
                        <li class="pageMaker_btn next">
                            <a href="javascript:void(0)" th:onclick="movePage( [[ ${#request.requestURI} ]], [[ ${pageMaker.cri.makeQueryString(pageMaker.pageEnd + 1)} ]])">다음</a>
                        </li>
                    </th:block>


<!--                    <p th:text="${pageMaker}"></p>-->
                </ul>
            </div>

        </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Footer 영역 -->
        <th:block th:replace="admin/fragments/footer :: adminFooter"></th:block>


</div>    <!-- class="wrap" -->
</div>    <!-- class="wrapper" -->


<script th:inline="javascript">

    /* ![CDATA[ */

    document.addEventListener("DOMContentLoaded", function () {
        let enrollResult = [[${enroll_result}]];
        let modifyResult = [[${modify_result}]];
        let deleteResult = [[${delete_result}]];
        console.log(enrollResult);
        console.log(modifyResult);
        checkEnrollResult(enrollResult);

        checkModifyResult(modifyResult);

        checkDeleteResult(deleteResult);

        function checkEnrollResult(enrollResult) {
            if (enrollResult === null) {
                return;
            }
            alert("작가 " + [[${enroll_result}]]  + " 을 등록하였습니다.");
        }

        function checkModifyResult(modifyResult) {
            if (modifyResult == 1) {
                alert("작가 정보 수정을 완료하였습니다.");
            } else if (modifyResult == 0) {
                alert("작가 정보 수정을 실패하였습니다.")
            }
        }

        function checkDeleteResult(deleteResult) {
            if (deleteResult == 1) {
                alert("작가 삭제에 성공하였습니다.")
            } else if (deleteResult == 2) {
                alert("해당 작가 데이터를 사용하고 있어 삭제 할 수 없습니다.");
            }
        }
    });

    /* ]] */


    /* ![CDATA[ */
    function movePage(uri, queryString) {
        console.log(uri);
        console.log(queryString);

        location.href = uri + queryString;
    }
    /* ]]*/


    function searchFunc() {
        const searchBtn = document.getElementById("searchBtn");
        let pageNum = document.getElementById("searchForm_input_pageNum");
        let keyword = document.getElementById("searchForm_input_keyword");

        if (keyword.value == '') {
            alert("키워드를 입력하세요.");
            return false;
        }
        pageNum.value = 1;
        searchBtn.submit();
    }



</script>

</body>
</html>