<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/admin/goodsEnroll.css}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">

    </script>
    <!-- 위지윅 CK Editor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <!-- jquery datePicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="wrap">
        <!-- gnv_area -->
        <th:block th:replace="admin/fragments/header :: adminHeader"></th:block>
        <div class="admin_content_wrap">
            <div class="admin_content_main">
<!--                <form action="/admin/goodsModify" method="post" id="enrollForm">-->
                <form method="post" id="enrollForm">
                    <input type="hidden" name="bookId" th:value="${goodsInfo.bookId}">
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>책 제목</label>
                        </div>
                        <div class="form_section_content">
                            <input name="bookName" th:value="${goodsInfo.bookName}">
                            <span class="ck_warn bookName_warn">책 이름을 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>작가</label>
                        </div>
                        <div class="form_section_content">
                            <input id="authorName_input" readonly="readonly" name="authorName" th:value="${goodsInfo.authorName}">
                            <input id="authorId_input" name="authorId" type="hidden" th:value="${goodsInfo.authorId}">
                            <button class="authorId_btn" id="authorIdBtn">작가 선택</button>
                            <span class="ck_warn authorId_warn">작가를 선택해주세요</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>출판일</label>
                        </div>
                        <div class="form_section_content">
                            <input name="publeYear" autocomplete="off" readonly="readonly" th:value="${goodsInfo.publeYear}">
                            <span class="ck_warn publeYear_warn">출판일을 선택해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>출판사</label>
                        </div>
                        <div class="form_section_content">
                            <input name="publisher" th:value="${goodsInfo.publisher}">
                            <span class="ck_warn publisher_warn">출판사를 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>책 카테고리</label>
                        </div>
                        <div class="form_section_content">
                            <div class="cate_wrap">
                                <span>대분류</span>
                                <select class="cate1" id="cate1">
                                    <option selected value="none">선택</option>
                                </select>
                            </div>
                            <div class="cate_wrap">
                                <span>중분류</span>
                                <select class="cate2" id="cate2">
                                    <option selected value="none">선택</option>
                                </select>
                            </div>
                            <div class="cate_wrap">
                                <span>소분류</span>
                                <select class="cate3" name="cateCode" id="cate3">
                                    <option selected value="none">선택</option>
                                </select>
                            </div>
                            <span class="ck_warn cateCode_warn">카테고리를 선택해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>상품 가격</label>
                        </div>
                        <div class="form_section_content">
                            <input name="bookPrice" value="0" th:value="${goodsInfo.bookPrice}">
                            <span class="ck_warn bookPrice_warn">상품 가격을 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>상품 재고</label>
                        </div>
                        <div class="form_section_content">
                            <input name="bookStock" value="0" th:value="${goodsInfo.bookStock}">
                            <span class="ck_warn bookStock_warn">상품 재고를 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>상품 할인율</label>
                        </div>
                        <div class="form_section_content">
                            <input id="discount_interface" maxlength="2" value="0" th:value="${goodsInfo.bookDiscount}">
                            <input name="bookDiscount" type="hidden" value="0">
                            <span class="step_val">할인 가격 : <span class="span_discount"></span></span>
                            <span class="ck_warn bookDiscount_warn">1~99 숫자를 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>책 소개</label>
                        </div>
                        <div class="form_section_content">
                            <textarea name="bookIntro" id="bookIntro_textarea" th:value="${goodsInfo.bookIntro}" th:text="${goodsInfo.bookIntro}"></textarea>
                            <span class="ck_warn bookIntro_warn">책 소개를 입력해주세요.</span>
                        </div>
                    </div>
                    <div class="form_section">
                        <div class="form_section_title">
                            <label>책 목차</label>
                        </div>
                        <div class="form_section_content">
                            <textarea name="bookContents" id="bookContents_textarea" th:value="${goodsInfo.bookContents}" th:text="${goodsInfo.bookContents}"></textarea>
                            <span class="ck_warn bookContents_warn">책 목차를 입력해주세요.</span>
                        </div>
                    </div>
                </form>
                <div class="btn_section">
                    <button id="cancelBtn" class="btn">취 소</button>
                    <button id="enrollBtn" class="btn enroll_btn" th:onclick="enrollFunc()">수 정</button>
                    <button id="deleteBtn" class="btn delete_btn" th:onclick="deleteFunc()">삭 제</button>
                </div>
            </div>
        </div>

        <!-- Footer 영역 -->
        <th:block th:replace="admin/fragments/footer :: adminFooter"></th:block>

    </div>    <!-- class="wrap" -->
</div>    <!-- class="wrapper" -->

<script th:inline="javascript">

    /* 취소 버튼 */
    document.getElementById("cancelBtn").addEventListener("click", function () {
        location.href = "/admin/goodsManage";
    });

    /* ![CDATA[ */

    function deleteFunc() {
        event.preventDefault();

        let deleteForm = document.getElementById("enrollForm");
        deleteForm.action = "/admin/goodsDelete";
        deleteForm.submit();

    }

    /* 등록 Function */
    function enrollFunc() {
        event.preventDefault();

        /* 체크 변수 */
        let bookNameCk = false;
        let authorIdCk = false;
        let publeYearCk = false;
        let publisherCk = false;
        let cateCodeCk = false;
        let priceCk = false;
        let stockCk = false;
        let discountCk = false;
        let introCk = false;
        let contentsCk = false;

        /* 체크 대상 변수 */
        let bookName = $("input[name='bookName']").val();
        let authorId = $("input[name='authorId']").val();
        let publeYear = $("input[name='publeYear']").val();
        let publisher = $("input[name='publisher']").val();
        let cateCode = $("select[name='cateCode']").val();
        let bookPrice = $("input[name='bookPrice']").val();
        let bookStock = $("input[name='bookStock']").val();
        let bookDiscount = $("#discount_interface").val();
        let bookIntro = $(".bit p").html();
        let bookContents = $(".bct p").html();

        if(bookName){
            $(".bookName_warn").css('display','none');
            bookNameCk = true;
        } else {
            $(".bookName_warn").css('display','block');
            bookNameCk = false;
        }

        if(authorId){
            $(".authorId_warn").css('display','none');
            authorIdCk = true;
        } else {
            $(".authorId_warn").css('display','block');
            authorIdCk = false;
        }

        if(publeYear){
            $(".publeYear_warn").css('display','none');
            publeYearCk = true;
        } else {
            $(".publeYear_warn").css('display','block');
            publeYearCk = false;
        }

        if(publisher){
            $(".publisher_warn").css('display','none');
            publisherCk = true;
        } else {
            $(".publisher_warn").css('display','block');
            publisherCk = false;
        }

        if(cateCode != 'none'){
            $(".cateCode_warn").css('display','none');
            cateCodeCk = true;
        } else {
            $(".cateCode_warn").css('display','block');
            cateCodeCk = false;
        }

        if(bookPrice != 0){
            $(".bookPrice_warn").css('display','none');
            priceCk = true;
        } else {
            $(".bookPrice_warn").css('display','block');
            priceCk = false;
        }

        if(bookStock != 0){
            $(".bookStock_warn").css('display','none');
            stockCk = true;
        } else {
            $(".bookStock_warn").css('display','block');
            stockCk = false;
        }

        if(!isNaN(bookDiscount)){
            $(".bookDiscount_warn").css('display','none');
            discountCk = true;
        } else {
            $(".bookDiscount_warn").css('display','block');
            discountCk = false;
        }

        if(bookIntro != '<br data-cke-filler="true">'){
            $(".bookIntro_warn").css('display','none');
            introCk = true;
        } else {
            $(".bookIntro_warn").css('display','block');
            introCk = false;
        }

        if(bookContents != '<br data-cke-filler="true">'){
            $(".bookContents_warn").css('display','none');
            contentsCk = true;
        } else {
            $(".bookContents_warn").css('display', 'block');
            contentsCk = false;
        }

        if(bookNameCk && authorIdCk && publeYearCk && publisherCk && cateCodeCk && priceCk && stockCk && discountCk && introCk && contentsCk ){
            // document.getElementById("enrollForm").submit();
            let modifyForm = document.getElementById("enrollForm");
            modifyForm.action = "/admin/goodsModify";
            modifyForm.submit();
        } else {
            return false;

        }
    }

    /* ]] */

    /* CK 이지윅 에디터 */

    /* 책 소개 */
    ClassicEditor
        .create(document.querySelector('#bookIntro_textarea'))
        .catch(error => {
            console.error(error);
        });

    /* 책 목차 */
    ClassicEditor
        .create(document.querySelector('#bookContents_textarea'))
        .catch(error => {
            console.error(error);
        });

    /* datePicker */
    const config = {
        dateFormat: 'yy-mm-dd',
        showOn: "button",
        buttonText: "날짜 선택",
        prevText: '이전 달',
        nextText: '다음 달',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        yearSuffix: '년',
        changeMonth: true,
        changeYear: true
    }

    $(function () {
        $("input[name='publeYear']").datepicker(config);
    });



    /* 작가 선택 팝업 창 */
    document.getElementById("authorIdBtn").addEventListener("click", function () {

        event.preventDefault();

        // let window = window.open(url, windowName, windowFeatures);
        let popUrl = "/admin/authorPop";
        let popOption = "width = 650px, height=550px, top=300px, left=300px, scrollbars=yes";

        window.open(popUrl, "작가 찾기", popOption);
    });

    /* ![CDATA[ */

    document.addEventListener("DOMContentLoaded", function () {

        let bookDiscount = [[ ${goodsInfo.bookDiscount}]] * 100;

        let cateList = JSON.parse([[ ${cateList}]]);

        cate1Array = new Array();
        cate2Array = new Array();
        cate3Array = new Array();

        cate1Obj = new Object();
        cate2Obj = new Object();
        cate3Obj = new Object();

        cateSelect1 = document.getElementById('cate1');
        cateSelect2 = document.getElementById('cate2');
        cateSelect3 = document.getElementById('cate3');

        function makeCateArray(obj, array, cateList, tier) {
            for (let i = 0; i < cateList.length; i++) {
                if (cateList[i].tier === tier) {
                    obj = new Object();
                    obj.cateName = cateList[i].cateName;
                    obj.cateCode = cateList[i].cateCode;
                    obj.cateParent = cateList[i].cateParent;

                    array.push(obj);
                }
            }
        }

        makeCateArray(cate1Obj, cate1Array, cateList, 1);
        makeCateArray(cate2Obj, cate2Array, cateList, 2);
        makeCateArray(cate3Obj, cate3Array, cateList, 3);

        let targetCode3 = [[ ${goodsInfo.cateCode}]];

        while (cateSelect3.firstChild) {
            cateSelect3.firstChild.remove();
        }

        while (cateSelect2.firstChild) {
            cateSelect2.firstChild.remove();
        }

        while (cateSelect1.firstChild) {
            cateSelect1.firstChild.remove();
        }

        for (let i = 0; i < cate3Array.length; i++) {
            if (targetCode3 === cate3Array[i].cateCode) {
                targetCode3 = cate3Array[i];
                let option = document.createElement("option");
                let optionText = document.createTextNode(targetCode3.cateName);
                option.appendChild(optionText);
                option.value = targetCode3.cateCode;
                option.selected = true;
                cateSelect3.appendChild(option);
            }
        }

        let targetCode2 = targetCode3.cateParent;

        for (let i = 0; i < cate2Array.length; i++) {
            if (targetCode2 === cate2Array[i].cateCode) {
                targetCode2 = cate2Array[i];
                let option = document.createElement("option");
                let optionText = document.createTextNode(targetCode2.cateName);
                option.appendChild(optionText);
                option.value = targetCode2.cateCode;
                option.selected = true;
                cateSelect2.appendChild(option);
            }
        }

        let targetCode1 = targetCode2.cateParent;

        for (let i = 0; i < cate1Array.length; i++) {
            if (targetCode1 === cate1Array[i].cateCode) {
                targetCode1 = cate1Array[i];
                let option = document.createElement("option");
                let optionText = document.createTextNode(targetCode1.cateName);
                option.appendChild(optionText);
                option.value = targetCode1.cateCode;
                option.selected = true;
                cateSelect1.appendChild(option);
            }
        }


        document.getElementById("discount_interface").value = bookDiscount;

    });


    /* ]] */

</script>

<script th:inline="javascript">

    /* ![CDATA[ */

    /* 카테고리 */
    let cateList = JSON.parse([[ ${cateList} ]]);

    let cate1Array = new Array();
    let cate2Array = new Array();
    let cate3Array = new Array();
    let cate1Obj = new Object();
    let cate2Obj = new Object();
    let cate3Obj = new Object();

    let cateSelect1 = document.getElementById('cate1');
    let cateSelect2 = document.getElementById('cate2');
    let cateSelect3 = document.getElementById('cate3');

    /* 카테고리 배열 초기화 메서드 */
    function makeCateArray(obj,array,cateList, tier){
        for(let i = 0; i < cateList.length; i++){
            if(cateList[i].tier === tier){
                obj = new Object();

                obj.cateName = cateList[i].cateName;
                obj.cateCode = cateList[i].cateCode;
                obj.cateParent = cateList[i].cateParent;

                array.push(obj);

            }
        }
    }

    /* 배열 초기화 */
    makeCateArray(cate1Obj,cate1Array,cateList,1);
    makeCateArray(cate2Obj,cate2Array,cateList,2);
    makeCateArray(cate3Obj,cate3Array,cateList,3);

    for (let i = 0; i < cate1Array.length; i++) {
        let option = document.createElement('option');
        let optionText = document.createTextNode(cate1Array[i].cateName);
        option.appendChild(optionText);
        cateSelect1.appendChild(option);
        cateSelect1.children[i+1].value = cate1Array[i].cateCode;
    }

    cateSelect1.addEventListener("change", (event) => {
        let selectValue1 = event.target.value;

        while (cateSelect2.firstChild) {
            cateSelect2.firstChild.remove();
        }

        while (cateSelect3.firstChild) {
            cateSelect3.firstChild.remove();
        }

        let selectBasic = document.createElement('option');
        let selectBasicText = document.createTextNode("선택");
        selectBasic.value = 'none';
        selectBasic.appendChild(selectBasicText);
        cateSelect2.appendChild(selectBasic);

        for (let i = 0; i < cate2Array.length; i++) {
            if (selectValue1 === cate2Array[i].cateParent) {
                let option = document.createElement('option');
                option.value = cate2Array[i].cateCode;
                let optionText = document.createTextNode(cate2Array[i].cateName);
                option.appendChild(optionText);
                cateSelect2.appendChild(option);
            }
        }
    });

    cateSelect2.addEventListener("change", (event) => {
        let selectValue2 = event.target.value;

        while (cateSelect3.firstChild) {
            cateSelect3.firstChild.remove();
        }

        let selectBasic = document.createElement('option');
        let selectBasicText = document.createTextNode("선택");
        selectBasic.value = 'none';
        selectBasic.appendChild(selectBasicText);
        cateSelect3.appendChild(selectBasic);

        for (let i = 0; i < cate3Array.length; i++) {
            if (selectValue2 === cate3Array[i].cateParent) {
                let option = document.createElement('option');
                option.value = cate3Array[i].cateCode;
                let optionText = document.createTextNode(cate3Array[i].cateName);
                option.appendChild(optionText);
                cateSelect3.appendChild(option);
            }
        }

    });



    let bookDiscount = $("#discount_interface").val();
    /* 할인율 Input 설정 */

    $("#discount_interface").on("propertychange change keyup paste input", function(){

        let userInput = $("#discount_interface");
        let discountInput = $("input[name='bookDiscount']");

        let discountRate = userInput.val();					// 사용자가 입력한 할인값
        let sendDiscountRate = discountRate / 100;			// 서버에 전송할 할인값
        let goodsPrice = $("input[name='bookPrice']").val();			// 원가
        let discountPrice = goodsPrice * (1 - sendDiscountRate);		// 할인가격

        if(!isNaN(discountRate)){
            $(".span_discount").html(discountPrice);
            discountInput.val(sendDiscountRate);
        }
    });

    $("input[name='bookPrice']").on("change", function(){

        let userInput = $("#discount_interface");
        let discountInput = $("input[name='bookDiscount']");

        let discountRate = userInput.val();					// 사용자가 입력한 할인값
        let sendDiscountRate = discountRate / 100;			// 서버에 전송할 할인값
        let goodsPrice = $("input[name='bookPrice']").val();			// 원가
        let discountPrice = goodsPrice * (1 - sendDiscountRate);		// 할인가격

        if(!isNaN(discountRate)){
            $(".span_discount").html(discountPrice);
        }
    });


    /* ]] */

</script>

</body>
</html>